MONGO_URL = 
TOKEN = 
PORT = 
GROUP_ID = 
SECRET_KEY = 

MINI_APP_URL="https://www.sofascore.com/"


# token Bearer JhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY5Mjg1MjM2ZjdhZDUwOWU0NjdjMzU2YyIsImlhdCI6MTc2NDU4NzMyOX0.zZdBc9QUZGH708knlAeiKIwGdMX4TZnGwuxouYMMPt8

# MONGO_URL = mongodb://127.0.0.1:27017/botLogistics
# TOKEN = 8340294283:AAFDGOPHZFPGj9Ni3FEWyV68nQAtvoZtNbQ
# PORT = 5050
# GROUP_ID = "-1003193144547"
# SECRET_KEY = 1q2w3e4r
# -1003396728277 yangi kanalniki prod